/* Background Widgets */

QWidget[role="header_bar"] {{
    background-color: {base_blue};
}}

QWidget[role="left_column"] {{
    background-color: {light_blue};
}}

QWidget[role="day_bar"] {{
    background-color: {dark_blue};
}}

QScrollArea > QWidget > QWidget {{
    background-color: {light_blue};
}}

QScrollBar:vertical {{
    background: transparent;
    width: 8px;
    margin: 0px;
}}

QScrollBar::handle:vertical {{
    background: {base_blue};
    border-radius: 4px;
}}

QScrollBar::handle:vertical:hover {{
    background: {dark_blue};
}}


QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {{
    height: 0px;
}}

QScrollBar::add-page:vertical,
QScrollBar::sub-page:vertical {{
    background: transparent;
}}

CalendarCell {{
    background-color: white;
    border-right: 1px solid {base_blue};
    border-bottom: 1px solid {base_blue};
}}


/* Labels */

QLabel {{
    color: {base_gray};
}}

QWidget[text_color="white"] {{
    color: white;
}}

QLabel[variant="highlight"] {{
    color: white;
    background-color: {darkest_blue};
    padding-bottom: 1px;
}}


/* Button */

QPushButton {{
    color: {base_gray};
}}

QPushButton[text_color="white"] {{
    color: white;
}}

QLabel[variant="muted"] {{
    color: {gray_muted};
}}

QPushButton[role="drop_down"] {{
    text-align: left;
    border: none;
    border-radius: 6px;
    padding-left: 17px;
}}

/* Custom styling for form button */
QPushButton[color="lightest_blue"] {{
    background-color: {lightest_blue};
}}

QPushButton[color="lightest_blue"]:hover {{
    background-color: {light_blue};
}}

QPushButton[color="lightest_blue"]:pressed {{
    background-color: {base_blue};
}}


/* Pop ups */

QFrame[role="menu"] {{
    background-color: white;
    border-radius: 10px;
}}

QFrame[role="menu_2"] {{
    background-color: white;
    border-radius: 15px;
}}

Toast {{
    border-radius: 10px;
    margin: 1px;
}}

Toast[variant="error"] {{
    background-color: {light_red};
    border: 1px solid {red};
}}

QLabel[variant="error"] {{
    color: {red};
}}

QFrame[role="line"][variant="error"] {{
    color: {red};
}}

Toast[variant="info"] {{
    background-color: {lightest_blue};
    border: 1px solid {darkest_blue};
}}

QLabel[variant="info"] {{
    color: {darkest_blue};
}}

QFrame[role="line"][variant="info"] {{
    color: {darkest_blue};
}}

Toast[variant="warning"] {{
    background-color: {light_yellow};
    border: 1px solid {dark_yellow};
}}

QLabel[variant="warning"] {{
    color: {dark_yellow};
}}

QFrame[role="line"][variant="warning"] {{
    color: {dark_yellow};
}}