/* Background Widgets */

QWidget[role="header_bar"] {{
    background-color: {2_blue};
}}

QWidget[role="left_column"] {{
    background-color: {1_blue};
}}

QWidget[role="day_bar"] {{
    background-color: {3_blue};
}}

CalendarCell {{
    background-color: white;
    border-right: 1px solid {2_blue};
    border-bottom: 1px solid {2_blue};
}}


/* Labels */

QLabel {{
    color: {text[base]};
}}

QLabel[variant="white"] {{
    color: white;
}}

QLabel[variant="highlight"] {{
    color: white;
    background-color: {5_blue};
}}


/* Buttons */

QPushButton[variant="1_blue"] {{
    background-color: {1_blue};
    color: {text[base]};
}}

QPushButton[variant="1_blue"]:hover {{
    background-color: {2_blue};
}}

QPushButton[variant="1_blue"]:pressed {{
    background-color: {3_blue};
}}

QPushButton[variant="2_blue"] {{
    background-color: {2_blue};
    color: {text[base]};
}}

QPushButton[variant="2_blue"]:hover {{
    background-color: {3_blue};
}}

QPushButton[variant="2_blue"]:pressed {{
    background-color: {4_blue};
}}

QPushButton[variant="5_blue"] {{
    background-color: {5_blue};
    color: {text[base]};
}}

QPushButton[variant="5_blue"]:hover {{
    background-color: {6_blue};
}}

QPushButton[variant="5_blue"]:pressed {{
    background-color: {7_blue};
}}


/* Form */

QFrame[role="form"] {{
    background-color: {0_blue};
    border-radius: 15px;
}}