QFrame[role="form"] {{
    background-color: {lightest_blue};
    border-radius: 15px;
}}

QLineEdit {{
    background-color: {lightest_blue};
    color: {base_gray};
    placeholder-text-color: {base_gray};
    border: none;
}}

QLineEdit[role="title_entry"] {{
    border-bottom: 1px solid {base_blue};
}}

QPushButton[role="checked"] {{
    qproperty-icon: url(:/box_checked.svg);
}}

QPushButton[role="unchecked"] {{
    qproperty-icon: url(:/box_unchecked.svg);
}}

QPushButton[role="save"] {{
    padding-bottom: 2px;
}}

DateEntry {{
    background-color: {lightest_blue};
    color: {base_gray};
}}

DateEntry:hover {{
    background-color: {light_blue};
}}

DateEntry:focus {{
    background-color: {light_blue};
    border: 0px;
    border-radius: 5px;
}}

TimeEntry {{
    background-color: {lightest_blue};
    color: {base_gray};
}}

TimeEntry:hover {{
    background-color: {light_blue};
}}

TimeEntry:focus {{
    background-color: {light_blue};
    border: 0px;
    border-radius: 5px;
}}